<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.UserDao">
    <resultMap id="userMap" type="com.etc.entity.User">
        <id property="uid" column="id"/>
        <result property="name" column="user_name"/>
        <result property="password" column="user_pwd"/>
    </resultMap>
    <select id="findAllUser" resultMap="userMap">
        select * from userinfo
        <where>
            <if test="uid != null and uid != ''">
                id = #{uid}
            </if>
            <if test="name != null and name != ''">
               and user_name = #{name}
            </if>
            <if test="password != null and password != ''">
                user_pwd = #{password}
            </if>
        </where>
    </select>
    <select id="seletUserByID" parameterType="java.lang.Integer" resultMap="userMap">
        select * from userinfo where id = #{uid}
    </select>
    <insert id="insertUser" parameterType="com.etc.entity.User" useGeneratedKeys="true" keyProperty="uid">
        insert into userinfo values (#{uid},#{name},#{password})
    </insert>
    <update id="updateUser" parameterType="com.etc.entity.User">
        update userinfo set user_name = #{name},user_pwd = #{password} where id = #{uid}
    </update>
<!--    <delete id="delUserByID" parameterType="java.lang.Integer">
        delete from userinfo where id = #{uid}
    </delete>-->

</mapper>